<nav class="navbar bg-dark">
</nav>

{{!-- <div><img src="/assets/img/burger.png" height="300" alt=""></div> --}}

<div class="container my-5">
    <div class="row">
        <img src="/assets/img/burger.png" height="300" alt="">
        <div class="col">
            {{> uneaten-burgers }}
        </div>
        <div class="col">
            {{> burger-list }}
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Burger Name" aria-label="Burger Name"
                    id="burgerName">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="addBurger">Add</button>
                </div>
            </div>
        </div>
    </div>